body{
	background-color:   #fdedec;
}

.container{
	text-align: center;
	margin: auto;
	color: #c0392b;
	/*display: flex;*/
	/*width: 90%;
	/*alignment-baseline: central;
	vertical-align: center;
	background-position: center;
	align-self: center;
	align-content: center;
	align-items: center;*/
	/*background-color:  #d5f5e3;*/
}