body{
	background-color: #fcf3cf;
}

.container{
	text-align: center;
	margin: auto;
	color:  #9a7d0a;
	/*display: flex;*/
	/*width: 90%;
	/*alignment-baseline: central;
	vertical-align: center;
	background-position: center;
	align-self: center;
	align-content: center;
	align-items: center;*/
	/*background-color:  #d5f5e3;*/
}